<%= will_paginate @colg %>
<table style="width:500px">
  <thead>
    <tr>
      <th>Name</th>
      <th style="text-align:right;">Rank</th>
      <th style="text-align:right;">Tuition Fees</th>
      <th style="text-align:right;">Enrollment</th>
      <th style="text-align:right;">Acceptance Rate</th>
      <th style="text-align:right;">Average Retention Rate</th>
      <th style="text-align:right;">Graduation Rate</th>

    </tr>
  </thead>
  <tbody>
    <% @colg.each do |college| %>
		  <tr>
          <td><%= college.name%></td>
          <td style="text-align:right;"><%= college.rank %></td>
          <td style="text-align:right;"><%= college.tuition_fees %></td>
          <td style="text-align:right;"><%= college.total_enrollment %></td>
          <td style="text-align:right;"><%= college.acceptance_rate %></td>
          <td style="text-align:right;"><%= college.average_retention_rates %></td>
          <td style="text-align:right;"><%= college.graduation_rate %></td>
        </tr> 
    <% end %>

  </tbody>
</table>
<%= will_paginate @colg %>