<!--<h1>LoadJson#index</h1>-->
<!--<p>Find me in app/views/load_json/index.html.erb</p>-->


<table style="width:500px">
  <thead>
      <tr>
          <th>Name</th>
          <th style="text-align:right;">Rank</th>
          <th style="text-align:right;">Tuition Fees</th>
          <th style="text-align:right;">Enrollment</th>
          <th style="text-align:right;">Acceptance Rate</th>
          <th style="text-align:right;">Average Retention Rate</th>
          <th style="text-align:right;">Graduation Rate</th>

      </tr>
  </thead>
  <tbody>
  		<% @list_college.each do |college| %>

          <tr>
            <td><%= college['name'] %></td>
            <td style="text-align:right;"><%= college['rank'] %></td>
            <td style="text-align:right;"><%= college['tuition_fees'] %></td>
            <td style="text-align:right;"><%= college['total_enrollment'] %></td>
            <td style="text-align:right;"><%= college['acceptance_rate'] %></td>
            <td style="text-align:right;"><%= college['average_retention_rates'] %></td>
            <td style="text-align:right;"><%= college['graduation_rate'] %></td>
          </tr> 
 		<% end %>

  </tbody>
</table>