<h1>Welcome</h1>

<%= link_to 'List All colleges', controller: 'load_json' %>


<%= link_to 'populate  db', controller: 'json_pagination', action: 'load_db'  %>

<%= link_to 'List All colleges with pagination', controller: 'json_pagination' %>

